<div class="card mb-3">
    <div class="card-header">
        {{ item.date_pub }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description|truncatewords:15 }}</p>
        <a href="{{item.get_absolute_url}}">Read more</a>
    </div>
    <div class="card-footer text-muted">
        Types:

        {% for ft in item.types.all %}
        <a href="{{ft.get_absolute_url}}">{{ft.title}}</a>
        {% endfor %}
    </div>
</div>



